.header-link {
    background: url('/img/cc_logo.png') no-repeat;
    padding-left: 45px;
}

th.sort-field {
    background: #333333;
    cursor: pointer;
    color: #ffffff;
}
th.active-field {
    background: #de770f;
    color: #333333;
}

input.form-error {
    border-color: red;
}

/* Dropzone Overides */
.dropzone {
    padding: 10px 10px;
    min-height: 140px;
    border: 0;
    background: #c7ddef;
}

.dropzone .dz-message {
    margin: 1.75em 0;
}

.dropzone .dz-preview {
    margin: 0;
}

.dropzone .dz-preview.dz-image-preview {
    background: none;
}
